<div class="container">
<tr>
	<a routerLink="/rendez-vous-depistage">Prendre un rendez-vous pour un depistage.</a>	
</tr>
<tr>
	<a routerLink="/depistages">Lister les rendez-vous de depistage.</a>
</tr>

<h3>Liste des Despistages Disponibles:</h3>
<table style="width:65%;"  align="center"> 
	<tr>
	<td rowspan="7">
		
		<img src="../assets/images/depistage.jpg" alt="Image" height="300px" width="300px">
		
		</td>
		<td>- L’infection à HIV ou virus du sida</td>
	</tr>
	<tr><td>- L’hépatite B</td></tr>
	<tr><td>- La syphilis (« vérole »)</td></tr>
	<tr><td>- Blennoragie « chaude pisse »</td></tr>
	<tr><td>- L’infection à papillomavirus (HPV)</td></tr>
	<tr><td>- Lymphogranulomatose vénérienne</td></tr>
	<tr><td>- Infections à mycoplasmes</td></tr>

</table>


</div>