<div class="container" id="demoFont">
<tr>
	<a routerLink="/rendez-vous-imagerie">Prendre un rendez-vous pour une imagerie.</a>	
</tr>
<tr>
	<a routerLink="/imageries">Lister les rendez-vous d'imagerie.</a>
</tr>

<h3>Liste des Imageries Disponibles:</h3>

<table class="table table-hover borderless table-sm" small="true" style="width:50%;" align="center">
  <thead >
  
  </thead>

<tbody>
 
<tr >
	<td>
		<img src="../assets/images/scanner.jpg" alt="Image" height="100 px" width="120px">
	</td>
	<td>
		Scanner
	</td>
	<td>
		<table>
			<tr>Scanner</tr>
			<tr>Scanner cérébral</tr>
			<tr>Scanner coronaire ou coroscanner</tr>
			<tr>Echographie pelvienne</tr>
		</table>
	</td>
</tr>
<tr></tr>

<tr >
	<td>
		<img src="../assets/images/radio.jpg" alt="Image" height="100 px" width="100px">
	</td>
	<td>
		Radiographie
	</td>
	<td>
		<table>
			<tr>Radiographie osseuse</tr>
			<tr>Radiographie pulmonaire</tr>
			<tr>Mammographie</tr>
			<tr>Angiographie</tr>
		</table>
	</td>
</tr>
<tr></tr>
<tr >
	<td>
		<img src="../assets/images/eco.jpg" alt="Image" height="100 px" width="120px">
	</td>
	<td>
		Echographie
	</td>
	<td>
		<table >
		<tr>Echographie mammaire</tr>
          <tr>Echographie obstétricale</tr>
          <tr>Echographie pelvienne</tr>
          <tr>Echographie cardiaque</tr>
          <tr>Doppler</tr>
		</table>
	</td>
</tr>
<tr></tr>
<tr>
	<td>
		<img src="../assets/images/irm2.jpg" alt="Image" height="100px" width="100px">
	</td>
	<td>
		IRM
	</td>	
	<td>
		IRM
	</td>
</tr>
<tr></tr>
<tr >
	<td>
		<img src="../assets/images/endoscop.jpg" alt="Image" height="100 px" width="120px">
	</td>
	<td>
		Endoscopie
	</td>
	<td>
		<table>
		<tr>Arthroscopie</tr>
		<tr>Cystoscopie</tr>
		<tr>Endoscopie</tr>
		<tr>Fibroscopie bronchique</tr>
		<tr>Hystéroscopie</tr>
		<tr>Coloscopie</tr>
		</table>
	</td>
</tr>
<tr></tr>
<tr >
	<td>
		<img src="../assets/images/scinti.png" alt="Image" height="100px" width="100px">
	</td>
	<td>
		Scintigraphie
	</td>
	<td>
		<table>
			<tr>Scintigraphie osseuse</tr>
			<tr>Scintigraphie cardiaque</tr>
			<tr>Scintigraphie pulmonaire</tr>
			<tr>Scintigraphie thyroïdienne</tr>
		</table>
	</td>
</tr>
</tbody>
</table>
</div>